<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>KryptX</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/base_style.css') }}" />
        <link rel='icon' href="{{ url_for('static',filename='files/favicon.ico') }}" type='image/x-icon'/ >
        <script src="{{ url_for('static',filename='js/base_script.js') }}"></script>
    </head>
    <body>
        <nav class="navigation_bar">
            <div class="logo_container">
                <a href="/"><img src="{{ url_for('static',filename='files/logo.png') }}" alt="logo" class="logo"/></a>
            </div>
            <div class="dropdown">
                <div class="dropbtn">
                    <span>ALL ENCRYPTION METHODS</span>
                </div>
                <div class="dropdown-content">
                    {% for item in allAlgos %}
                    <a href="{{ item[1] }}">{{ item[0] }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown">
                <div class="dropbtn">
                    <span>HISTORICAL</span>
                </div>
                <div class="dropdown-content">
                    {% for item in historicalAlgos %}
                    <a href="{{ item[1] }}">{{ item[0] }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown">
                <div class="dropbtn">
                    <span>OUTDATED</span>
                </div>
                <div class="dropdown-content">
                    {% for item in outdatedAlgos %}
                    <a href="{{ item[1] }}">{{ item[0] }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown">
                <div class="dropbtn">
                    <span>MODERN</span>
                </div>
                <div class="dropdown-content">
                    {% for item in modernAlgos %}
                    <a href="{{ item[1] }}">{{ item[0] }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown">
                <div class="dropbtn">
                    <span>HASHING</span>
                </div>
                <div class="dropdown-content">
                    {% for item in hashingAlgos %}
                    <a href="{{ item[1] }}">{{ item[0] }}</a>
                    {% endfor %}
                </div>
            </div>
        </nav>
        <div class="homepage_main_zone">
            
            <div>
                <h1>Welcome to KryptX</h1>
                <h2>Choose an encryption algorithm in the navigation bar above</h2>
            </div>
            <div class="warning_message">
                <img src="{{ url_for('static',filename='files/warning.png') }}" alt="warning"/>
                <span>This app is offered for educational purposes only. It should NEVER be used as a reliable way to encrypt or hash your data. In no event shall the creator of this application be liable for any data loss or theft arising from the use of this app</span>
            </div>
            
            
            
        </div>
    </body>
    <footer>
        <p>©2020 KryptX, Vincent Papelard</p>
    </footer>

</html>
