<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>KryptX - SHA</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/base_style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/sha.css') }}" />
        <link rel='icon' href="{{ url_for('static',filename='files/favicon.ico') }}" type='image/x-icon'/ >
        <script src="{{ url_for('static',filename='js/base_script.js') }}"></script>
    </head>
    <body>
        <nav class="navigation_bar">
            <div class="logo_container">
                <a href="/"><img src="{{ url_for('static',filename='files/logo.png') }}" alt="logo" class="logo"/></a>
            </div>
            <div class="dropdown">
                <div class="dropbtn">
                    <span>ALL ENCRYPTION METHODS</span>
                </div>
                <div class="dropdown-content">
                    {% for item in allAlgos %}
                    <a href="{{ item[1] }}">{{ item[0] }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown">
                <div class="dropbtn">
                    <span>HISTORICAL</span>
                </div>
                <div class="dropdown-content">
                    {% for item in historicalAlgos %}
                    <a href="{{ item[1] }}">{{ item[0] }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown">
                <div class="dropbtn">
                    <span>OUTDATED</span>
                </div>
                <div class="dropdown-content">
                    {% for item in outdatedAlgos %}
                    <a href="{{ item[1] }}">{{ item[0] }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown">
                <div class="dropbtn">
                    <span>MODERN</span>
                </div>
                <div class="dropdown-content">
                    {% for item in modernAlgos %}
                    <a href="{{ item[1] }}">{{ item[0] }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown">
                <div class="dropbtn">
                    <span>HASHING</span>
                </div>
                <div class="dropdown-content">
                    {% for item in hashingAlgos %}
                    <a href="{{ item[1] }}">{{ item[0] }}</a>
                    {% endfor %}
                </div>
            </div>
        </nav>
        <div class="central_zone">
            <div id="encryption_zone">
                {% if mode == "displayEncryptedText" %}
                <div id="processed_text">
                    <span>Encrypted text:</span>
                    <button onclick="copyToClipboard('hashed_Text')">Copy</button>
                    <p id="hashed_Text">{{ encryptedMessage }}</p>
                </div>
                {% endif %}
                <div id="encryption_form">
                    <form method="post" action="/md5/encryption">
                        <p>
                            <label for="clear_message_area">Enter the message you want to hash here: </label><br/>
                            <textarea class="centered_form_content" name="message" id="clear_message_area" rows="10" cols="50" required></textarea><br/><br/>
                            <input class="centered_form_button" type="submit" value="Hash" />
                        </p>
                    </form>
                </div>
                    {% if mode == "encryptionError" %}
                        <script>encryptButtonClicked();</script>
                        <span class="error">{{ error }}</span>
                    {% elif mode == "decryptionError" %}
                        <script>decryptButtonClicked();</script>
                        <span class="error">{{ error }}</span>
                    {% endif %}
            </div>
            <div class="description">
                <h2>SHA-512</h2>
                <p>
                    SHA-512 is a hashing algorithm which is part of the set of cryptographic hash functions SHA-2 designed by the United States National Security Agency (NSA) and first published in 2001. SHA-2 includes significant changes from its predecessor, SHA-1. The SHA-2 family consists of six hash functions with digests (hash values) that are 224, 256, 384 or 512 bits: SHA-224, SHA-256, SHA-384, SHA-512, SHA-512/224, SHA-512/256.
                </p>
                <p>
                    <span class="important">How it works:</span> the algorithm involves four steps:
                </p>
                <ol>
                    <li>Input formatting: the message you want to encrypt must have a combined size of a whole multiple of 1024 bits. If that condition is not met, the algorithm will pad your message with extra bits until it reaches the desired size.</li>
                    <li>Hash buffer initialization: the algorithm processes each block of 1024 bits using the result obtained from the previous block. Of course, this is not possible when the first block is processed. To address that issue, SHA fills the buffer with a set of values called the Initialization Vectors (IV). These values will then be used to process the first block.</li>
                    <li>Message processing: Each block of the message is processed in turn through several rounds, using the data contained in the block itself as well as the result from the previous processing.</li>
                    <li>Output: The algorithm creates a 512-bit hash based on the results of the processing of all the blocks.</li>
                </ol>
                <p class="important">
                    Security level: HIGH
                </p>
                <p>
                    When properly implemented, SHA-512 is a secure way to hash data. This makes it one of the most commonly used hashing algorithms to check data integrity or store passwords in a secure way.
                </p>
            </div>
   
        </div>
    </body>
    <footer>
        <p>©2020 KryptX, Vincent Papelard</p>
    </footer>

</html>
